@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #a29bfe;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.container {
  background-color: #6c5ce7;
  border-radius: 5px;
  width: 400px;
  margin: 10px;
}

.header {
  padding: 20px 40px;
  background-color: #d980fa;
  border-bottom: 1px solid #f0f0f0;
}

.header {
  margin: 0px;
}
.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.form-control input {
  margin: 2px 0;
  display: block;
  font-family: inherit;
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
}

.form-control.success input {
  border-color: #079992;
  color: #079992;
}
.form-control.success small {
  color: #079992;
}
.form-control.error input {
  border-color: #eb2f06;
  color: #eb2f06;
}

.form-control.error small {
  color: #eb2f06;
  font-weight: 600;
}
.form-control small {
  /* position: absolute;
  visibility: hidden; */
  left: 0;
  bottom: 0;
}

textarea {
  width: 100%;
  height: 5vw;
  font-family: inherit;
  padding: 10px;
}

button {
  background-color: #d980fa;
  color: #fff;
  border: 2px solid #d980fa;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
}
